body {
    background-color: #5C4D4C;
  }
  
  h2 {
    color: #5C4D4C;
    margin-left: 20px;
  }

p {
    text-align: center;
    color: rgb(255, 255, 255);
  }

  footer {
    text-align: center;
    color: rgb(255, 255, 255);
  }
  img {
    display: block;
    margin: auto;
    width: 50%;
  }

  iframe {
    border: 0;
  }